
.btn1 {
    color: rgb(64, 0, 0);
    font-weight: bold;
    font-family: 'Lucida Calligraphy', serif, sans-serif;
    background-color: $cd-btn1-end;
    transition: transform 1s, background-color 1000ms;
    &:hover {
        .zoom {
                transition: transform 1s;
                transform: scale(1.20);
        }
        background-color: lighten($cd-btn1-end, 5%);
    }
}


.btn2 {
    font-family: 'Lato', serif, sans-serif;
    background-color: $cd-btn2-end;
    transition: transform 1s, background-color 1000ms;
    &:hover {
        .zoom {
            transition: transform 1s;
            transform: scale(1.20);
        }   
        background-color: lighten($cd-btn2-end, 5%);
    }
}

.btn3 {
    font-family: "cursive", serif, sans-serif;
    background-color: $cd-btn3-end;
    transition: transform 1s, background-color 1000ms;
    &:hover {
        .zoom {
            transition: transform 1s;
            transform: scale(1.20);
        }
        background-color: lighten($cd-btn3-end, 5%);
    }
}


.btn4 {
    font-family: "cursive", serif, sans-serif;
    background-color: $cd-btn4-start;
    transition: transform 1s, background-color 1000ms;
    &:hover {
        .zoom {
            transition: transform 1s;
            transform: scale(1.20);
        }
        background-color: lighten($cd-btn4-start, 5);
    }
}

