//      VARIABLES

$color-primary: #009688;
$color-secondary: #FFA726;
$color-shadow: rgb(192, 189, 189);
$cd-btn1-start: rgb(248, 218, 219);
$cd-btn1-end: rgba(250, 211, 213, 0.5);
$cd-btn2-start: rgb(248, 240, 247);
$cd-btn2-end: rgba(245, 231, 244, 0.5);
$cd-btn3-start: rgb(244, 244, 245);
$cd-btn3-end: rgba(244, 244, 245, 0.5);
$cd-btn4-start: rgba(255, 255, 255, 1);
$cd-btn4-end: rgba(255, 255, 255, 0);
$shake-intensity: 5%;



