//      MAIN


main
{
    display: flex;
    flex-direction: column;
    @include for-tablet-portrait-up
    {
        
    }
    @include for-phone-only 
    {

    }
    @include for-desktop-up 
    {
        
    }
    @include for-big-desktop-up
 {

 }
}
main section
{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    @include for-tablet-portrait-up
    {
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }
    @include for-desktop-up 
    {
        margin-top: 30px;
    }
    @include for-big-desktop-up
    {
        margin-top: 50px;
    }
    @include for-phone-only{

    }
}
main section a
{
    height: 100%;
    width: 30%;
    min-height: 400px;
    box-shadow: 1px 1px 12px $color-shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    @include for-tablet-portrait-up
    {
        margin-top: 5%;
        min-height: 500px;
        width: 50%;
    }
    @include for-desktop-up 
    {
        max-width: 35%;
        min-height: 500px;
    }
    @include for-big-desktop-up
 {
    min-height: 800px;
    
 }
    @include for-phone-only 
    {
        margin-top: 10%;
        width: 60%;
    }
}
main section a:nth-child(2)
{
    margin-right: 30px;
    @include for-tablet-portrait-up
    {
        margin-right: 0;
    }
    @include for-desktop-up 
    {
        margin-right: 30px;
    }
    @include for-big-desktop-up
    {
        margin-right: 60px;
    }
}
.second
{
    margin-bottom: 20px;
}
.menu
{
    font-size: 25px;
    @include for-desktop-up 
    {
        font-size: 35px;
    }
    @include for-big-desktop-up
 {
     font-size: 60px;
 }
 @include for-tablet-portrait-up
    {
        font-size: 30px;
    }
    @include for-phone-only
    {
        font-size: 25px;
    }
}
p
{
 font-size: 25px;
 margin: 3px auto;
 text-align: center;
 @include for-desktop-up 
 {
     font-size: 35px;
 }
    @include for-big-desktop-up
 {
     font-size: 60px;
 }
 @include for-tablet-portrait-up
    {
        font-size: 30px;
    }
    @include for-phone-only 
    {
        font-size: 25px;
        white-space: wrap;
    }
}


//  COLOR

.color1
{
    @include color-Menu(rgb(64, 0, 0));
    margin: 0;
    text-transform: uppercase;
}
.color2
{
    @include color-Menu(rgb(190, 91, 25));
}
.color3
{
    @include color-Menu(rgb(61, 152, 180));
}
.color4
{
    @include color-Menu(rgb(35, 139, 49));
}


.red-orange
{
    @include color-transition(right, red, orange, 70%);
    font-size: 30px;
}
.orange-purple
{
    @include color-transition(right, orange, purple, 50%);
}
.blue-blue
{
    @include color-transition(right, blue, rgb(106, 173, 199), 50%);
}
.green-green
{
    @include color-transition(right, rgb(11, 124, 26), rgb(120, 221, 111), 50%);
}






//  PROCHAINEMENT


aside
{
    flex: 1;
    min-height:200px;
    @include for-big-desktop-up
 {
     min-height: 400px;
 }
 @include for-tablet-portrait-up
    {
        min-height: 250px;
    }
}

aside a
{
    height: 50px;
    width: 380px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: $color-primary;
    font-size: 30px;
    color: $color-secondary;
    margin: 0 auto;
    padding: auto 10px;
    line-height: 1.5em;
    &:hover .loading span {
        display: inline-block;
    }
    &:hover .loading {
        margin-right: 20px;
    }

    &:hover aside a div {
        flex: 1;
    }
    @include for-phone-only
    {
     width: 300px;
     margin-top: 10px;
    }
    @include for-tablet-portrait-up
    {
        margin-top: 20px;
    }
    @include for-desktop-up 
    {
        width: 500px;
        height: 90px;
        line-height: 2.7em;
        border-radius: 30px;
        margin-top: 10px;
    }
    @include for-big-desktop-up
 {
     width: 800px;
     height: 130px;
     border-radius: 30px;
     line-height: 4em;
     margin-top: 40px;
 }
}
aside a p
{
    flex: 1;
    text-align: center;
    font-size: 30px;
    @include for-phone-only
    {
        
    }
    @include for-tablet-portrait-up
    {
     
    }
    @include for-desktop-up 
    {
        font-size: 40px;
    }
    @include for-big-desktop-up
    {
     font-size: 70px;
    }
}
.loading span
{
    width: 18px;
    height: 18px;
    margin: auto;
    background-color: $color-secondary;
    border-radius: 50%;
    display: none;
    animation-name: dots;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    @include for-desktop-up 
    {
        width: 25px;
        height: 25px;
    }
    @include for-big-desktop-up
    {
     width: 35px;
     height: 35px;
    }
    
}
.loading span:nth-child(2)
{
    animation-delay: 0.4s;
}
.loading span:nth-child(3)
{
    animation-delay: 0.8s;
}
@keyframes dots
{
    50% {
        opacity: 0;
        transform: scale(0.7) translateY(15px);
    }
}
